<div th:replace="commons/header::html" ></div>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">-->
                <!--<legend th:if="${_method eq 'POST'}">配置接口</legend>-->
            <!--</fieldset>-->

        </div>
        <div class="layui-card-body">
            <form th:method="${_method }" class="layui-form">
                <input type="hidden" name="_method" th:value="${_method}"/>
                <input type="hidden" name="behalfUserId" th:value="${behalfUserId}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">卡组名称</label>
                    <div class="layui-input-block">
                        <input name="cardGroupName" class="layui-input" placeholder="请输入卡组名称，例如： 小额卡组（500~10000）" required lay-verify="required" autocomplete="off"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formSubmit">保存</button>
                        <a href="javascript:close();" class="layui-btn layui-btn-primary">关闭</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    layui.use(['layer','form'], function () {
        var layer = layui.layer;
        var $=layui.$;
        var form=layui.form;

        //提交表单
        form.on("submit(formSubmit)",function(obj){
            $.post('',obj.field,function(data){
                layer.alert(data.msg,function(index){
                    layer.close(index);
                    if(data.code==1){
                        parent.location.reload();
                    }
                });
            });
            return false;
        });
    });

    function close(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }

</script>
</body>
<div th:replace="commons/footer" ></div>