<div th:replace="commons/header::html" ></div>

<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <blockquote class="layui-elem-quote layui-row">
                <a th:href="@{/private/page/create}" class="layui-btn" id="add"><i
                        class="layui-icon">&#xe61f;</i> 添加页面</a>
            </blockquote>

        </div>
        <div class="layui-card-body">
            <div class="layui-form">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>页面名称</th>
                        <th>页面相对地址</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="content">
                    <tr th:each="item : ${page}">
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.href}"></td>
                        <td>
                            <a th:href="@{'/private/page/edit?id=' + ${item.id}}" class="layui-btn layui-btn-xs"><i
                                    class="layui-icon">&#xe642;</i>编辑</a>
                            <a href="javascript:void(0);" th:data="${item.id}"
                               class="layui-btn layui-btn-danger layui-btn-xs feijin-remove"><i
                                    class="layui-icon">&#xe640;</i>删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<script th:inline="javascript">
    layui.use(['layer'], function () {
        var layer = layui.layer;
        var $ = layui.$;

        $(function () {

            //删除操作
            $(".feijin-remove").click(function () {
                var id = $(this).attr("data");
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        type: 0,
                        title: '删除页面',//自定义标题样式
                        border: [0],
                        area: ['auto', 'auto'],
                        content: '<span class="orange">删除操作，确定删除该页面吗？</span>',
                        btn: ['删除', '取消'],
                        yes: function () {
                            $.ajax({
                                type: "post",
                                url: "/private/page/remove",
                                data: {
                                    "id": id,
                                    "_method": "delete"
                                },
                                success: function (result) {
                                    if (result.code == 1) {
                                        layer.alert("删除成功", "1", function () {
                                            location.reload();
                                        });
                                    } else if (result.code == -1) {
                                        layer.alert("删除失败");
                                    }

                                }
                            });
                        },
                        no: function () {
                            layer.close(index);
                        }
                    });
                });
            });
        });
    });
</script>
</body>
<div th:replace="commons/footer" ></div>