<div th:replace="commons/header::html" ></div>
<script th:src="@{/static/js/jquery.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/jquery.qrcode.min.js}" type="text/javascript" charset="utf-8"></script>
<style>
    .bankInfo{font-size: 1.4rem;color: red;line-height: 2.5rem;margin: 2rem auto;}

</style>
<body >
<div class="layui-fluid">
    <div class="layui-card" style="text-align: center;margin: 15px;">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <img th:src="@{/static/images/unionPay.jpg}" width="180px"/>
        </div>
        <div class="layui-card-body" style="border-bottom: 1px solid #f6f6f6;">
            <div class="behalfOrderTotal">
                <p class="layadmin-homepage-min-font">当前待处理的提现订单数量：<span style="color: red;" th:text="${behalfOrderTotal.totalBehalfOrderCount}"></span>笔，待处理的提现订单总金额为：<span style="color: red;" th:text="${behalfOrderTotal.behalfOrderMoneyTotal}"></span>元</p>
                <p class="layadmin-homepage-min-font">为防止银行卡被恶意冻结造成损失，如果待处理金额过大请先取消充值。</p>
            </div>
            <div class="bankInfo" >
                <div class="layui-row">
                    <label>转账金额：<strong th:text="'￥'+${amount}+'元'"></strong></label>
                </div>
                <div class="layui-row">
                    <label>银行名称：<strong th:text="${bankCard.bankName}"></strong></label>
                </div>
                <div class="layui-row">
                    <label>银行卡号：<strong th:text="${bankCard.bankNo}"></strong></label>
                </div>
                <div class="layui-row">
                    <label >持卡人姓名： <strong th:text="${bankCard.realName}"></strong></label>
                </div>
                <div  class="layui-row">
                    <label >支行信息： <span  th:text="${bankCard.bankBranch}"></span></label>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <p class="layadmin-homepage-min-font" th:text="'订单号：'+${orderNo}"></p>
            <h4 class="layadmin-homepage-min-font">过期时间：<span id="countdown" style="color: red;"></span></h4>
            <p class="layadmin-homepage-min-font">请勿过期后支付,不自动到账</p>
            <p class="layadmin-homepage-min-font">请勿修改金额支付，概不到账</p>
            <h4 class="layadmin-homepage-min-font">付款后请联系我们上账。</h4>
            <!--<div class="layadmin-homepage-pad-ver">-->
            <!--<a href="javascript:;" class="layui-icon layui-icon-cellphone"></a>-->
            <!--<a href="javascript:;" class="layui-icon layui-icon-vercode"></a>-->
            <!--<a href="javascript:;" class="layui-icon layui-icon-login-wechat"></a>-->
            <!--<a href="javascript:;" class="layui-icon layui-icon-login-qq"></a>-->
            <!--</div>-->
            <!--<button class="layui-btn layui-btn-fluid">跟随</button>-->
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use(['layer','form','util'], function () {
        var layer = layui.layer;
        var form=layui.form;
        var util = layui.util;

        //倒计时
        var thisTimer, setCountdown = function(){
            var endTime = new Date([[${endTime}]]) //结束日期
                ,serverTime = new Date([[${serverTime}]]); //假设为当前服务器时间，这里采用的是本地时间，实际使用一般是取服务端的

            clearTimeout(thisTimer);
            util.countdown(endTime, serverTime, function(date, serverTime, timer){
                var str =date[2] + '分' + date[3] + '秒';
                $('#countdown').html(str);
                thisTimer = timer;

                if(date[2]==0&&date[3]==0){
                    window.location.reload();
                }
            });
        };
        setCountdown();

        setInterval(function () {
            $.post('',{},function(data){
                if(data.code==1){
                    layer.alert('请确认后返回上一级页面', {
                        title:'支付成功',
                        icon: 6,
                        btn:['确认'],
                        yes:function(index){
                            layer.close(index);
                            window.location.href=data.data;
                        }
                    });
                }
                if(data.code==-2){
                    window.location.reload();
                }
                if(data.code==-1){
                    //不处理
                }
            })
        },3000);
    });
</script>
</body>
<div th:replace="commons/footer" ></div>