<div th:replace="commons/header::html" ></div>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>单笔手续费:<span th:text="${withdrawRate+'元'}"></span></legend>
            </fieldset>

        </div>
        <div class="layui-card-body">
            <form class="layui-form" action="javascript:void(0);">
                <input type="hidden" name="_method" th:value="${_method}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">提现金额</label>
                    <div class="layui-input-block">
                        <input type="number" name="orderMoney" th:value="${orderMoney}" min="100" th:max="${wallet.money - withdrawRate}"  onkeyup="value=zhzs(this.value)" class="layui-input" placeholder="请输入提现金额" required lay-verify="required" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">账号余额</label>
                    <div class="layui-input-block">
                        <input name="walletMoney" th:value="${wallet.money}"  class="layui-input"disabled="disabled" required lay-verify="required" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">收款行</label>
                    <div class="layui-input-block" >
                        <select  name="bankCardId" lay-filter="bankCardId" lay-verify="required" required>
                            <option value="">选择银行</option>
                            <option th:each="category:${listBankCard}" th:value="${category.id}"
                                    th:text="${category.realName+'  '+category.bankName+'  '+category.bankNo+' '+category.bankBranch}" ></option>
                        </select>
                    </div>

                </div>
                <div class="layui-form-item" style="margin-top:20px;" th:if="${openGoogleAuthenticator}">
                    <label class="layui-form-label">二次验证:</label>
                    <div class="layui-input-inline" >
                        <input type="number" name="fastGoogleAuthenticator" id="fastGoogleAuthenticator" placeholder="请输入谷歌二次验证随机码"  autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">您已开启了谷歌二次验证</div>
                </div>
                <div class="layui-form-item" style="margin-top:20px;" th:if="${openPayPassword}">
                    <label class="layui-form-label">支付密码:</label>
                    <div class="layui-input-inline" >
                        <input type="password" name="fastPayPassword" id="fastPayPassword" placeholder="请输入支付密码"  autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">您已开启支付密码</div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                        <a href="javascript:close();" class="layui-btn layui-btn-primary">关闭</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    layui.use(['layer','form','transfer'], function () {
        var layer = layui.layer;
        var form=layui.form;
        var $=layui.$;
        var transfer=layui.transfer;

        form.on("submit(formSubmit)",function(obj){
            console.log(obj);
            $.post('/private/proxyWorder/withdraw',obj.field,function(data){
                layer.alert(data.msg,function(index){
                    layer.close(index);
                    if(data.code==1){
                        parent.location.reload();
                    }
                });
            });
            return false;
        });
    });
    function close(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
    //转化正整数
    function zhzs(value){
        value = value.replace(/[^\d]/g,'');
        if(''!=value){
            value = parseInt(value);
        }
        return value;
    }
</script>
</body>
<div th:replace="commons/footer" ></div>