<div th:replace="commons/header::html" ></div>
<body>
<div class="layui-fluid">

    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <form id="totalForm" class="layui-form layui-form-pane" th:action="@{/private/behalfWalletLog/findListWalletLog}"
                  th:method="GET">
                <input type="hidden" id="size" th:value="${pager.size}" name="size">
                <input type="hidden" id="page" th:value="${pager.page}" name="page">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>条件筛选</legend>
                </fieldset>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">日期</label>
                        <div class="layui-input-inline">
                            <input type="text" id="beginTime" name="beginTime"
                                   th:value="${walletLogReq.beginTime}"
                                   placeholder="起始时间" autocomplete="off" class="layui-input" />
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline">
                            <input type="text" id="endTime" name="endTime"
                                   th:value="${walletLogReq.endTime}"
                                   placeholder="结束时间" autocomplete="off" class="layui-input" />
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">变动方式</label>
                        <div class="layui-input-inline">
                            <select name="way">
                                <option value="">全部</option>
                                <option value="rollIn" th:selected="${walletLogReq.way == 'rollIn'}">转入</option>
                                <option value="rollOut" th:selected="${walletLogReq.way == 'rollOut'}">转出</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">变动类型</label>
                        <div class="layui-input-inline">
                            <select name="logEnum">
                                <option value="">全部</option>
                                <option th:each="item:${walletLogEnum}" th:value="${item}" th:selected="${item.toString() eq walletLogReq.logEnum}" th:text="${item.text}"></option>

                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <input type="submit"  lay-submit  lay-filter="submitBtn" value="搜索" class="layui-btn" />
                    </div>
                    <div class="layui-inline">
                        <a href="javascript:excel();"  style="width:100px;"
                           class="layui-btn layui-btn-danger">导出订单</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-card-body">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>账号</th>
                    <th>变动前余额</th>
                    <th>变动金额</th>
                    <th>变动后余额</th>
                    <th>变动时间</th>
                    <th>变动方式</th>
                    <th>变动类型</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody id="content">
                <tr id="app-tr-${item.id}" th:each="item : ${listByCondition.content}">
                    <!--<td th:text="${item.id}"></td>-->
                    <td th:text="${item.account}"></td>
                    <td th:text="${item.beforeBalance}"></td>
                    <td th:text="${item.amount}"style="color: red;font-weight: bold;"></td>
                    <td th:text="${item.balance}"></td>
                    <td th:text="${#dates.format(item.createTime, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:switch="${item.way != null}">
                        <span th:case="${item.way eq 'rollIn'}"style="font-weight: bold;color: #c09853;">转入</span>
                        <span th:case="${item.way eq 'rollOut'}"style="font-weight: bold;color: #1E9FFF;">转出</span>
                    </td>
                    <td th:switch="${item.logEnum != null}">
                        <span th:text="${item.logEnum.text}"></span>
                    </td>
                    <td th:text="${item.description}"></td>
                </tr>
                </tbody>
                <tfoot id="footer_page">

                </tfoot>
            </table>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var $;
    layui.use(['form', 'layedit', 'laydate', 'laypage'], function () {
        var laydate = layui.laydate;
        var laypage = layui.laypage;
        var form = layui.form;
        $=layui.$;

        laydate.render({
            elem: '#beginTime'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#endTime'
            ,type: 'datetime'
        });
        laypage.render({
            elem: 'footer_page',
            count: [[${listByCondition.getTotalElements()}]],
            limit: 10,
            layout: ['count', 'prev', 'page', 'next', 'skip'],
            curr: [[${pager.page}]],
            jump: function(obj, first){
                if (!first) {
                    $("#page").val(obj.curr);
                    $("#size").val(obj.limit);
                    $("#totalForm").submit();
                }
            }
        });

        //监听提交
        form.on('submit(submitBtn)', function(data){
            $("#page").val(1);
            $("#totalForm").submit();
        });
    });

    function  returnMethod() {
        window.location.href = '/private/behalfWalletLog/findListWalletLog';
    }
    function excel(){
        var beginTime=$("#beginTime").val();
        var endTime=$("#endTime").val();
        if(beginTime==undefined||beginTime.length<=0||endTime==undefined||endTime.length<=0){
            layer.alert("请选择时间段,再点击导出");
            return;
        }

        var date1 = new Date(beginTime.replace(/-/g,"/"));
        var date2 = new Date(endTime.replace(/-/g,"/"));
        if(date2.getTime()<date1.getTime()){
            layer.alert("开始时间不能大于结束时间");
            return false;
        }
        var day = parseInt(((date2.getTime()-date1.getTime())/1000)/(24*60*60));
        if(day>1){
            layer.alert("导出数据查询时间不能超过1天");
            return false;
        }
        window.location.href='/private/behalfWalletLog/excel?beginTime='+beginTime+"&endTime="+endTime;
    }
</script>

</body>
<div th:replace="commons/footer" ></div>