<div th:replace="commons/header::html" ></div>
<body>
<div style="margin: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>基本资料</legend>
    </fieldset>


    <div class="layui-form-item">
        <label class="layui-form-label">原支付密码</label>
        <div class="layui-input-block">
            <input type="password" id="oldPayPassword" class="layui-input" style="width:300px;"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">新支付密码</label>
        <div class="layui-input-block">
            <input type="password" id="newPayPassword" class="layui-input" style="width:300px;"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">确认新支付密码</label>
        <div class="layui-input-block">
            <input type="password"id="newPayPassword2" class="layui-input" style="width:300px;"/>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="button" value="保存" class="layui-btn" id="save">
        </div>
    </div>

</div>

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var layer = layui.layer;
        var $=layui.$;


        $(function () {
            $("#save").click(function () {
                var oldPay=$("#oldPayPassword").val();
                var pas=$("#newPayPassword").val();
                var pas2=$("#newPayPassword2").val();
                if(oldPay==null || oldPay==''||oldPay==undefined){
                    alert("请输入原支付密码！");
                    return false;
                }
                if(pas==null || pas==''||pas==undefined){
                    alert("请输入支付密码！");
                    return false;
                }
                if(pas2==null || pas2==''||pas2==undefined){
                    alert("请输入确认密码！");
                    return false;
                }
                if(pas!=pas2){
                    alert('两次密码输入不一致');
                    return;
                }

                $.ajax({
                    url: "/private/modifyPayPassword",
                    type: "post",
                    dataType: "json",
                    data: {
                        "oldPayPassword": $("#oldPayPassword").val(),
                        "payPassword": $("#newPayPassword").val()
                    },
                    success: function (result) {
                        if (result.code==1) {
                            alert("修改成功，请使用新支付密码配合谷歌验证下发");
                            location.reload();
                        } else {
                            alert(result.msg);
                        }
                    }
                });
            });

        });
    });


</script>
</body>

</html>