<div th:replace="commons/header::html" ></div>

<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <blockquote class="layui-elem-quote layui-row">
                <h3>修改登录密码</h3>
            </blockquote>

        </div>
        <div class="layui-card-body">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">原密码</label>
                    <div class="layui-input-block">
                        <input type="password" id="oldPassword" class="layui-input" style="width:300px;"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-block">
                        <input type="password" id="password" class="layui-input" style="width:300px;"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input type="password"id="password2" class="layui-input" style="width:300px;"/>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="button" value="保存" class="layui-btn" id="save">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    layui.use(['form', 'layer'], function () {
        var layer = layui.layer;
        var $=layui.$;

        $(function () {
            $("#save").click(function () {
                var pas=$("#password").val();
                var pas2=$("#password2").val();
                if(pas!=pas2){
                    layer.msg('两次密码输入不一致');
                    return;
                }

                $.ajax({
                    url: "/private/modifyPassword",
                    type: "post",
                    dataType: "json",
                    data: {
                        "oldPassword": $("#oldPassword").val(),
                        "password": $("#password").val()
                    },
                    success: function (result) {
                        layer.alert(result.msg,function(index){
                            layer.close(index);
                            if (result.code==1) {
                                location.reload();
                            }
                        });
                    }
                });
            });

        });
    });

</script>
</body>

</html>