<div th:replace="commons/header::html" ></div>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend th:if="${_method eq 'POST'}">添加代理</legend>
                <legend th:if="${_method eq 'PUT'}">修改代理</legend>
            </fieldset>

        </div>
        <div class="layui-card-body">
            <form th:method="${_method }" class="layui-form">
                <input type="hidden" name="_method" th:value="${_method}"/>
                <input type="hidden" name="id" th:value="${bean.id}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-inline">
                        <input th:disabled="${_method eq 'POST' ? 'false':'disabled'}" name="account" maxlength="15" th:value="${bean.account}" class="layui-input" placeholder="请输入账号" required  style="width: 300px;"/>
                    </div>
                    <div th:if="${_method eq 'POST'}"  class="layui-form-mid layui-word-aux" >@proxy.com</div>

                </div>

                <div th:if="${_method eq 'POST'}" class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input name="password" th:value="888888" class="layui-input"  disabled="disabled"  lay-verify="required" style="width: 300px;background:#CCCCCC;"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="submit" value="保存" lay-submit lay-filter="addProxy" class="layui-btn" />
                        <button type="button" onclick="location.href='/private/proxy/findListAgency'"
                                class="layui-btn layui-btn-primary">取消
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use(['layer','form','transfer'], function () {
        var layer = layui.layer;
        var form=layui.form;
        var $=layui.$;
        var transfer=layui.transfer;
    });

</script>
</body>
<div th:replace="commons/footer" ></div>