<div th:replace="commons/header::html" ></div>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend th:if="${_method eq 'PUT'}">查看商户</legend>
            </fieldset>

        </div>
        <div class="layui-card-body">
            <form th:method="${_method }" class="layui-form">
                <input type="hidden" name="_method" th:value="${_method}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">配置费率</label>
                    <div class="layui-input-block">
                        <div class="layui-collapse" lay-accordion="">
                            <div class="layui-colla-item" th:each="item,st:${channelBeanList}">
                                <h2 class="layui-colla-title" th:text="${item.payCodeName}"></h2>
                                <div th:class="'layui-colla-content '+${st.index==0?'layui-show':''}">
                                    <table class="layui-table">
                                        <thead>
                                            <tr>
                                                <th>支付通道</th>
                                                <th>商户费率 %</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="rateVo,stat:${item.rateVoList}" th:data-index="${st.index * item.rateVoList.size()  + stat.index}" lay-filter="proxyPayChannel" >
                                                <td>
                                                    <input type="hidden" th:name="${'rateVoList['+(st.index * item.rateVoList.size()  + stat.index)+'].id'}" th:value="${rateVo.id}" class="layui-input" />
                                                <input type="hidden" th:name="${'rateVoList['+(st.index * item.rateVoList.size()  + stat.index)+'].payChannelId'}" th:value="${rateVo.payChannelId}" class="layui-input" />
                                                <input type="checkbox" th:name="${'rateVoList['+(st.index * item.rateVoList.size()  + stat.index)+'].checked'}" disabled="disabled" lay-skin="primary" th:title="${rateVo.payChannelName}" th:checked="${rateVo.checked}" />
                                                <input type="hidden" th:name="${'rateVoList['+(st.index * item.rateVoList.size()  + stat.index)+'].payChannelName'}" th:value="${rateVo.payChannelName}" readonly  class="layui-input"/>
                                                </td>
                                                <td><input type="number" th:name="${'rateVoList['+(st.index * item.rateVoList.size()  + stat.index)+'].merchantRate'}" disabled="disabled" th:required="${rateVo.checked}" th:disabled="${rateVo.checked?'false':'disabled'}" th:style="${rateVo.checked?'':'background:grey;'}" min="0" max="100" step="0.01"  th:value="${rateVo.merchantRate}" class="layui-input"/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" onclick="location.href='/private/merchantIndex/findMerchantInfoIndex'"
                                class="layui-btn layui-btn-primary">返回
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use(['layer','form','transfer','element'], function () {
        var layer = layui.layer;
        var form=layui.form;
        var $=layui.$;
        var element=layui.element;


        form.on('checkbox',function(data){
            console.log(data.elem.checked); //是否被选中，true或者false
            var isChecked=data.elem.checked;
            var index=$(this).parent().parent().attr('data-index');
            if(isChecked){
                $("input[name='rateVoList["+index+"].merchantRate']").css("background","white");
                $("input[name='rateVoList["+index+"].merchantRate']").attr("disabled",false);
                $("input[name='rateVoList["+index+"].merchantRate']").attr('required','true');
            }else{
                $("input[name='rateVoList["+index+"].merchantRate']").css("background","grey");
                $("input[name='rateVoList["+index+"].merchantRate']").attr("disabled","disabled");
                $("input[name='rateVoList["+index+"].merchantRate']").removeAttr('required');
            }
        });

    });

</script>
</body>
<div th:replace="commons/footer" ></div>