<div th:replace="commons/header::html" ></div>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <blockquote class="layui-elem-quote layui-row">
                <a href="javascript:window.history.back();" class="layui-btn"><i
                        class="layui-icon">&#xe61f;</i> 返回</a>

                <a href="javascript:window.location.reload();" class="layui-btn"><i
                        class="layui-icon">&#xe61f;</i> 刷新</a>

                <a id="add" class="layui-btn layui-btn-danger"><i
                        class="layui-icon ">&#xe61f;</i> 添加顶级菜单</a>
            </blockquote>
        </div>
        <div class="layui-card-body">
            <div class="layui-row">
                <div class="layui-col-md3">
                    <div id="layTree"></div>
                </div>
                <div class="layui-col-md9">

                    <div class="layui-card">
                        <div class="layui-card-header">
                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                                <legend>勾选二级菜单</legend>
                            </fieldset>
                        </div>
                        <div class="layui-card-body">
                            <div id="pageTree"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

<form class="layui-form" id="myForm" style="display: none">
    <div class="layui-fluid">
        <div class="layui-form-item">
            <label class="layui-form-label">名称：</label>
            <div class="layui-input-block">
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-inline">
                <input type="text" name="icon" required lay-verify="required" placeholder="请输入图标(layui-class样式)" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"><a href="http://www.layui.com/doc/element/icon.html#table" target="_blank">选取图标</a></div>
        </div>
    </div>
</form>

<script th:inline="javascript">
    var agencyEnum=[[${agencyEnum}]];
    var roleId=[[${roleId}]];

    layui.use(['tree','layer','transfer'], function(){
        var tree = layui.tree,
        layer=layui.layer,
        $=layui.$,
            checkCallback = false;

        //渲染
        var inst1 = tree.render({
            elem: '#layTree'  //绑定元素
            ,data: [[${navigation}]]
            ,onlyIconControl: true
            ,edit:['del']
            ,click: function(obj){
                console.log(obj.data); //得到当前点击的节点数据
                if(!obj.data.parent){
                    $("#pageTree").html('');
                    return;
                }
                var parentId=obj.data.id;
                $.get('/private/nav/selectPage',{'id':obj.data.id},function(data){
                    if(data.code==1){
                        checkCallback=false;
                        var inst2 = tree.render({
                            elem: '#pageTree'  //绑定元素
                            , data: data.data.allPages
                            , onlyIconControl: true
                            ,showCheckbox: true
                            ,id:'pageTree'
                            , oncheck: function(obj){
                                if (!checkCallback) return;

                                if(obj.checked){
                                    var loadding=layer.load(1,{});
                                    $.post('/private/nav/add',{'agencyEnum':agencyEnum,'roleId':roleId,'pageId':obj.data.id,'parentId':parentId},function(data){
                                        layer.close(loadding);
                                    });
                                }else{
                                    var loadding=layer.load(1,{});
                                    $.post('/private/nav/del',{'id':obj.data.navId},function(data){
                                        layer.close(loadding);
                                    });
                                }
                            }
                        });
                        // 一秒钟后，将checkCallback的值设置为true
                        layer.load(1, {time: 1000, end: () => checkCallback = true});
                    }
                });
            },operate: function(obj){
                var type = obj.type; //得到操作类型：add、edit、del
                var data = obj.data; //得到当前节点的数据
                var elem = obj.elem; //得到当前节点元素

                //Ajax 操作
                var id = data.id; //得到节点索引
                if(type === 'del'){ //增加节点
                    $.post('/private/nav/del',{'id':id},function(data){
                        layer.alert(data.msg,function(index){
                            layer.close(index);
                            if(data.code==1){
                                window.location.reload();
                            }
                        });

                    });
                };
            }
        });

        $("#add").click(function(){
            layer.open({
                type:1,
                title:'添加顶级菜单',
                content: $("#myForm")
                ,btn: ['确定', '关闭']
                ,area: ['420px', '250px']
                ,shadeClose:true
                ,yes: function(index, layero){
                    var myTitle=$("input[name='title']").val();
                    var icon=$("input[name='icon']").val();
                    $.post('/private/nav/add',{'agencyEnum':agencyEnum,'roleId':roleId,'title':myTitle,'icon':icon},function(data){
                        layer.alert(data.msg,function(index){
                            layer.close(index);
                            if(data.code==1){
                                window.location.reload();
                            }
                        });
                    });
                }
                ,cancel: function(){
                }
            });
        });
    });
</script>
<div th:replace="commons/footer" ></div>